*, body{
    padding: 0px;
    margin: 0px;
}
ul{
    margin: 0;
    padding: 0;
    width: 400px;
    margin: 0 auto;
    background-color: #f7f7f7;
}

ul li{
    list-style: none;
    font-size: 16px;
    color: #000;
}
ul li:nth-child(odd){
    background-color: #fff;
}